/* message组件样式 */
.web-message {
    min-width: 380px;
    border: 1px solid #ebeef5;
    background-color: #edf2fc;
    transform: translateX(-50%);
    position: fixed;
    left: 50%;
    transition: opacity 0.4s, transform 0.4s, top 0.4s;
    padding: 15px 15px 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.web-message-leave {
    opacity: 0;
    transform: translate(-50%, -100%);
}

/* .web-message-hover:hover {
    cursor: pointer;
} */

.web-message-left {
    justify-content: flex-start;
}

.web-message-center {
    justify-content: center;
}

.web-message-right {
    justify-content: flex-end;
}

/* 消息内容节点 */
.web-message .web-message-content {
    margin-left: 20px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
}

.web-message .close-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
}

.web-message-info .web-message-content {
    color: #909399;
}

.web-message-success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
}

.web-message-success .web-message-content {
    color: #67c23c;
}

.web-message-warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
}

.web-message-warning .web-message-content {
    color: #e6a23c;
}

.web-message-error {
    background-color: #fef0f0;
    border-color: #fde2e2;
}

.web-message-error .web-message-content {
    color: #f56c6c;
}