/* message组件样式 */
.web-message {
    min-width: 380px;
    max-width: 50%;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ebeef5;
    background-color: #edf2fc;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    transition: all 0.4s;
}

/* message组件入场动画 */
.web-message-enter {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
}

/* message组件出场动画 */
.web-message-leave {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
}

.web-message-left {
    justify-content: flex-start;
}

.web-message-center {
    justify-content: center;
}

.web-message-right {
    justify-content: flex-end;
}



/* 消息内容节点 */
.web-message .web-message-content {
    margin-left: 20px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    white-space: pre-line;
    line-height: 1.5;
}

.web-message .close-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
}



.web-message-info .web-message-content {
    color: #909399;
}

.web-message-success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
}

.web-message-success .web-message-content {
    color: #67c23c;
}

.web-message-warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
}

.web-message-warning .web-message-content {
    color: #e6a23c;
}

.web-message-error {
    background-color: #fef0f0;
    border-color: #fde2e2;
}

.web-message-error .web-message-content {
    color: #f56c6c;
}